    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div id="about-top" class="row">
          <div class="col-lg-8 col-lg-offset-2">
          <!-- <div class="col-lg-5 col-lg-offset-2"> -->
            <p class="lead"><strong>Developer</strong>, <strong>theatre technician</strong> and graduate of the <em>University of Guelph</em>.</p>
            <p>Majored in Information Systems and Human Behaviour, an interdisciplinary degree in <strong>Computer Science</strong> and <strong>Psychology</strong> with selected emphasis in <strong>Sociology</strong> and <strong>Anthropology</strong>; and minored in <strong>Economics</strong>.</p>
          </div>
          <!-- <div class="col-lg-3">
            <img src="/img/headshot.jpg" alt="Matthew Roberts">
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>interests</h2>
            <p>The combination of computer science and human behaviour: artificial intelligence, usability, human/computer interaction, the evolution of technology, and the technological singularity.</p></li>
            <p>How technology changes our world today, how it will continue to impact our world in the future, and what it all means for humanity.</p>
          </div>
        </div>
    </section>
