---
layout: full-page
---

<div class="row">
	<div class="col-md-3">
		{% for post in site.posts %}

			{% assign postdate_year = post.date | date: "%Y" %}
			{% assign postdate_mon = post.date | date: "%b" %}
			
			{% if postdate_year != prevpostdate_year %}

				{% if prevpostdate_year != null %}
					</ul>
				{% endif %}

				<h2>{{ postdate_year }}</h2>
			{% endif %}
			
			{% if (postdate_mon != prevpostdate_mon) or (postdate_mon == prevpostdate_mon and postdate_year != prevpostdate_year) %}

				{% if prevpostdate_year != null %}
					</ul>
				{% endif %}

				<h3>{{ postdate_mon }}</h3>
				<ul>
			{% endif %}

			<li><span>{{ post.date | date: "%d" }}</span> &raquo; <a {% if page.url == post.url %}style="text-decoration:underline; font-weight:bold;"{% endif %} href="{{ post.url }}">{{ post.title }}</a></li>

			{% assign prevpostdate_year = postdate_year %}
			{% assign prevpostdate_mon = postdate_mon %}

		{% endfor %}
	</div>
	<div class="col-md-9">
		{{ content }}
	</div>
</div>