<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} - {{ site.name }}</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">

		<!-- Custom CSS -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/screen.css">
		<script src="/static/h5bp/js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<body  id="skrollr-body" data-230-start="padding-top:70px;" data-250-start="padding-top:50px;">
    <div
		class="parallax-image-wrapper parallax-image-wrapper-100"
		data-anchor-target=".gap"
		data-bottom-top="transform:translate3d(0px, 200%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">
      <div
        class="parallax-image parallax-image-100"
        style="background-image:url(/img/homepage.jpg)"
        data-anchor-target=".gap"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
      ></div>
      <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"
             data-230-start="height:70px;padding-top:25px;"
             data-250-start="height:50px;padding-top:15px;"
             >
            {{site.name}}
            {% if page.title != "Matthew Roberts" %}
            </a>
            <div class="navbar-brand"
              data-230-start="display:none;"
              data-250-start="display:inline;">
              /
              <a class="navbar-link" href="{{ item.slug }}">
                {{page.title}}
              </a>
            </div>

            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% for item in site.data.menu %}
              <li{% if page.menu == item.title %} class="active"{% endif %}>
                <a href="{{ item.slug }}"
                 data-230-start="height:70px;padding-top:25px;"
                 data-250-start="height:50px;padding-top:15px;"
                 >{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row gap" id="header">
        <div class="col-md-12">
          <h1 id="page_title">{{ page.title }}
          {% if page.title == "Matthew Roberts" %}
            <small>BA (Hons)</small>
          {% endif %}
          </h1>
        </div>
      </div>
      <div class="row"> <!-- content -->
        {{ content }}
      </div>
      <div class="row" id="sm-icons">
        <div class="col-md-10 col-md-offset-1" id="sm-icons">
          <a href="http://twitter.com/eruraindil"><i class="fa fa-twitter-square fa-5x"></i></a>
          <a href="http://www.facebook.com/eruraindil"><i class="fa fa-facebook-square fa-5x"></i></a>
          <a href="http://www.linkedin.com/pub/matthew-roberts-rhb/28/b55/115"><i class="fa fa-linkedin-square fa-5x"></i></a>
          <a href="https://plus.google.com/105453048569831500209"><i class="fa fa-google-plus-square fa-5x"></i></a>
          <a href="https://github.com/eruraindil"><i class="fa fa-github-square fa-5x"></i></a>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/107642477432007236757" rel="publisher">Google+</a> Business</a>
        </div>
      </div>
    </div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="/static/jquery.js"><\/script>')</script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/skrollr.js"></script>
    <script src="/static/jquery.fitText.js"></script>
    <script src="/static/flowtype.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('body').flowtype({
          minFont : 14,
          maxFont : 18
        });
      });
      var s = skrollr.init();
      $("#page_title").fitText(1.1);
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23281367-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
