---
layout: default
---

<!--


{% for item in site.data.menu %}
	<li role="presentation"{% if page.menu == item.title %} class="active"{% endif %}>
		<a href="{{ item.slug }}">{{ item.title }}</a>
	</li>
{% endfor %}

-->

<header id="home">
  <div class="text-center"><a class="show-on-focus" href="#more">Skip to Content</a></div>
  <div id="nav" class="row">
    <nav class="right animated fadeInRightBig">
      <ul class="inline-list">
				{% for item in site.data.menu %}
					<li role="presentation"{% if page.menu == item.title %} class="active"{% endif %}>
						<a href="{{ item.slug }}">{{ item.title }}</a>
					</li>
				{% endfor %}
        <li role="presentation"><a href="#" data-reveal-id="contact">contact</a></li>
      </ul>
    </nav>
  </div>
  <div id="title" class="animated fadeInUpBig">
    <h1>Matthew Roberts</h1>
  </div>
  <div id="info" class="animated fadeInUpBig">
    <a href="#more" class="btn btn-default">Learn more&hellip;</a>
  </div>
</header>

{{ content }}
{% include footer.html %}
